div#cookieBar{
    background-color: #5a5a5a;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    bottom: 0;
    color: #fff;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 999;
    div.cookieBarInner{
        padding: 10px 15px;
        span.cookieBarText,
        span.cookieBarButtons{
            font-family: arial,sans-serif;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.8;
            margin-right: 10px;
            :first-child{
                margin-right: 5px;
            }
            a.cookieBarButton{
                background-color: #303030;
                border: 1px solid rgba(0,0,0,.1);
                border-radius: 2px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                color: #fff;
                cursor: pointer;
                line-height: 19px;
                padding: 4px 8px;
                text-decoration: none;
                white-space: nowrap;
            }
        }
    }
}